/* color theme at https://maketintsandshades.com/#161B45 */

body {
    background-color: #161B45;
    color: #B9BBC7;
}


.topbar * {
    height: 5vh;
}

.topbar {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.navwrap {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.topbar div a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #B9BBC7;
    width: 4vw;
    border-radius: 25%;
}

.topbar div a:hover {
    color: #d0d1da;

    background-color: #45496a;
    transition: background-color 0.3s linear;

}

.links {
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
}

.links a {
    background-color: #2d3258;
    transition: background-color 0.3s linear;
}

.imglink a {
    display: flex;
    background-color: #161B45;
    transition: background-color 0.3s linear;
}

.imglink a :hover {
    background-color: #45496a;
    transition: background-color 0.3s linear;
}