.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #161B45;
    color: #B9BBC7;
}

.hello {
    display: flex;
    width: 100%;
    font-family: Pacifico;
    justify-content: center;
    font-size: 100px;
}

.topbar {
    display: flex;
    height: 10vh;
}



.topbar .imglink img {
    height: 8vh;
    background-color: #161B45;
    transition: background-color 0.3s linear;

}

.topbar .imglink img:hover {
    background-color: #45496a;
    transition: background-color 0.3s linear;
}

.topbar .imglink {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    height: 10px;
}

.topbar .links {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    align-items: center;

}

.topbar .links a {
    display: flex;
    margin: 5vw;
    background-color: #2d3258;
    transition: background-color 0.3s linear;
    text-decoration: none;
    font-size: 20px;
    color: #B9BBC7;
    width: 4vw;
    border-radius: 25%;
    height: 5vh;
    width: 5vw;
    align-items: center;
    justify-content: center;
}

.topbar div a:hover {
    color: #d0d1da;

    background-color: #45496a;
    transition: background-color 0.3s linear;

}