body {
    background-color: #161B45;
    color: #B9BBC7;
}


.topbar * {
    height: 5vh;
}

.topbar {
    display: flex;
    width: 60%;
    justify-content: space-evenly;


}

.navwrap {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
}

.topbar div a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: #B9BBC7;
    width: 4vw;
    border-radius: 25%;
}

.topbar div a:hover {
    color: #d0d1da;

    background-color: #45496a;
    transition: background-color 0.3s linear;

}

.links {
    background-color: #2d3258;
    transition: background-color 0.3s linear;
}

.imglink {
    display: flex;
    background-color: #161B45;
    transition: background-color 0.3s linear;
}

.imglink:hover {
    background-color: #45496a;
    transition: background-color 0.3s linear;
}