/* https://maketintsandshades.com/#161B45 */

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #161B45;
    color: #B9BBC7;
    overflow-x: hidden;
    margin: 0;
}

h2 {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}

.awesome {
    display: flex;
    flex-wrap: wrap;
    width: 5%;
}

.proj1 a img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    border-style: solid;
    border-color: #B9BBC7;
    border-width: 3px;
}

.proj1 p {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 auto;
    padding: 2%;
}

h1,
h2,
h3,
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hellowrap {
    margin-bottom: 50vh;
    text-align: center;
}

.hello {
    display: inline-block;
    font-family: Pacifico;
    font-size: 240px;
    transition: font-size 0.5s ease;
    margin-bottom: 0;
    margin-top: 16vh;
}


.hello:hover {
    font-size: 280px;
    transition: font-size 0.5s ease;
}

a {
    text-decoration: none;
    color: #B9BBC7;

}

.topbar {
    display: flex;
    height: 10vh;
}

.navwrap {
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: #2d3258;
}

.topbar .links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.topbar .links a {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: scale 0.2s linear, background-color 0.25s linear;
    text-decoration: none;
    font-size: 20px;
    color: #B9BBC7;
    border-radius: 25%;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

#typer {
    text-align: center;
    margin: 0 auto;
    width: 55%;
    transition: opacity 1s;
    font-size: 50px;
    margin-bottom: 55vh;
}


.topbar div a:hover {
    color: #d0d1da;
    background-color: #45496a;
    scale: 1.1;
    transition: scale 0.2s linear, background-color 0.25s linear;
}



.typeani h3 {
    color: #B9BBC7;
    animation: rainbowtext 1s linear;
}


.proj1 .slide {
    transform: translateX(70%);
    transition: transform 1s ease;
}

.proj1 .slide:nth-of-type(even) {
    transform: translateX(-70%);
}

.proj1 .show {
    transform: translateX(0);
    transition: transform 1s ease;

}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


@keyframes rainbow {
    0% {
        box-shadow: 0px 0px 50px 10px #B9BBC7;
    }

    3% {
        box-shadow: 0px 0px 50px 10px rgb(255, 0, 0);
    }

    6.25% {
        box-shadow: 0px 0px 50px 10px rgb(255, 0, 0);
    }

    12.5% {
        box-shadow: 0px 0px 35px 8px rgb(255, 0, 0);
    }

    18.75% {
        box-shadow: 0px 0px 35px 8px rgb(255, 0, 0);
    }

    25% {
        box-shadow: 0px 0px 50px 10px rgb(255, 165, 0);
    }

    31.25% {
        box-shadow: 0px 0px 50px 10px rgb(255, 165, 0);
    }

    37.5% {
        box-shadow: 0px 0px 35px 8px rgb(255, 255, 0);
    }

    43.75% {
        box-shadow: 0px 0px 35px 8px rgb(255, 255, 0);
    }

    50% {
        box-shadow: 0px 0px 50px 10px rgb(0, 128, 0);
    }

    56.25% {
        box-shadow: 0px 0px 50px 10px rgb(0, 128, 0);
    }

    62.5% {
        box-shadow: 0px 0px 35px 8px rgb(0, 0, 255);
    }

    68.75% {
        box-shadow: 0px 0px 35px 8px rgb(0, 0, 255);
    }

    75% {
        box-shadow: 0px 0px 50px 10px rgb(75, 0, 130);
    }

    81.25% {
        box-shadow: 0px 0px 50px 10px rgb(75, 0, 130);
    }

    87.5% {
        box-shadow: 0px 0px 35px 8px rgb(161, 27, 45);
    }

    93.75% {
        box-shadow: 0px 0px 35px 8px rgb(161, 27, 45);
    }

    100% {
        box-shadow: 0px 0px 50px 10px #B9BBC7;
    }
}








footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3258;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #B9BBC7;
    padding: 10px;
    border: 1px solid #B9BBC7;
    border-radius: 5px;
    transition: all 0.3s ease;
}

footer a:hover {
    background-color: #45496a;
    border-color: #45496a;
}


.hover1 {
    position: absolute;
}



