/* https://maketintsandshades.com/#161B45 */

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

html, body {
    background-color: #161B45;
    color: #B9BBC7;
    overflow-x: hidden;
    margin: 0;
    text-shadow: 0px 0px 25px #73768f;

}

h2 {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}

.awesome {
    display: flex;
    flex-wrap: wrap;
    width: 5%;
}

.proj1 a img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    border-style: solid;
    border-color: #B9BBC7;
    border-width: 3px;
}

.proj1 p {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 auto;
    padding: 2%;
}

h1,
h2,
h3,
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hellowrap {
    margin-bottom: 40vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hellowrap button {
    background-color: #161B45;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#hello {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hello {
    display: inline-block;
    color: #B9BBC7;
    font-family: Pacifico;
    font-size: 240px;
    transition: font-size 0.5s ease;
    margin-top: 16vh;
    padding-bottom: 0;
    text-shadow: 0px 0px 25px #73768f;
    text-align: center;
}


.hello:hover {
    font-size: 280px;
    transition: font-size 0.5s ease;
}

a {
    text-decoration: none;
    color: #B9BBC7;

}

p {
    font-size: 40px;
}

.topbar {
    position: fixed;
    width: 100%;
    display: flex;
    height: 8vh;
    z-index: 2;
    box-shadow: 0px 0px 25px #73768f;
    align-items: center;
    justify-content: center;
    background-color: rgba(45, 50, 88, 0.5);
    opacity: 1;
}


.links {
    display: flex;
    align-items: center;
    justify-content: center;
}


.topbar .links {
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topbar .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: scale 0.2s ease, background-color 0.25s ease, box-shadow 0.2s ease;
    text-decoration: none;
    font-size: 1.5vw;
    color: #B9BBC7;
    border-radius: 25px;
    height: 7vh;
    width: 8vw;
    box-shadow: 0px 0px 0px 0px #000000;

}


.topbar div a:hover {
    box-shadow: 5px 8px 9px -1px #000000;

    color: #d0d1da;
    background-color: #45496a;
    scale: 1.02;
    transition: scale 0.2s ease, background-color 0.25s ease, box-shadow 0.2s ease;
}


#typer {
    text-align: center;
    margin: 0 auto;
    width: 55%;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    margin-bottom: 60vh;
    margin-top: 0;
    padding-top: 0;
    display: inline-block;
}





.typeani h3 {
    color: #B9BBC7;
    animation: rainbowtext 1s linear;
}


.proj1 .slide {
    transform: translateX(70%);
    transition: transform 1s ease;
}

.proj1 .slide:nth-of-type(even) {
    transform: translateX(-70%);
}

.proj1 .show {
    transform: translateX(0);
    transition: transform 1s ease;

}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


@keyframes rainbow {
    0% {
        box-shadow: 0px 0px 50px 10px #B9BBC7;
    }

    3% {
        box-shadow: 0px 0px 50px 10px rgb(255, 0, 0);
    }

    6.25% {
        box-shadow: 0px 0px 50px 10px rgb(255, 0, 0);
    }

    12.5% {
        box-shadow: 0px 0px 35px 8px rgb(255, 0, 0);
    }

    18.75% {
        box-shadow: 0px 0px 35px 8px rgb(255, 0, 0);
    }

    25% {
        box-shadow: 0px 0px 50px 10px rgb(255, 165, 0);
    }

    31.25% {
        box-shadow: 0px 0px 50px 10px rgb(255, 165, 0);
    }

    37.5% {
        box-shadow: 0px 0px 35px 8px rgb(255, 255, 0);
    }

    43.75% {
        box-shadow: 0px 0px 35px 8px rgb(255, 255, 0);
    }

    50% {
        box-shadow: 0px 0px 50px 10px rgb(0, 128, 0);
    }

    56.25% {
        box-shadow: 0px 0px 50px 10px rgb(0, 128, 0);
    }

    62.5% {
        box-shadow: 0px 0px 35px 8px rgb(0, 0, 255);
    }

    68.75% {
        box-shadow: 0px 0px 35px 8px rgb(0, 0, 255);
    }

    75% {
        box-shadow: 0px 0px 50px 10px rgb(75, 0, 130);
    }

    81.25% {
        box-shadow: 0px 0px 50px 10px rgb(75, 0, 130);
    }

    87.5% {
        box-shadow: 0px 0px 35px 8px rgb(161, 27, 45);
    }

    93.75% {
        box-shadow: 0px 0px 35px 8px rgb(161, 27, 45);
    }

    100% {
        box-shadow: 0px 0px 50px 10px #B9BBC7;
    }
}








footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3258;
    padding: 20px;
    width: 100vw; /* Ensure it takes the full width of the viewport */
    margin: 0; /* Remove any default margins */
}

footer a {
    text-decoration: none;
    color: #B9BBC7;
    padding: 10px;
    border: 1px solid #B9BBC7;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 0 10px; /* Adjust the margin for spacing */
}

footer a:hover {
    background-color: #45496a;
    border-color: #45496a;
}


.hover1 {
    position: absolute;
}

@media only screen and (max-width:1024px) {
    .topbar .links a{
        margin-right: 1vw;
        margin-left: 1vw;
        width: 40vw;
    }
    .introcontainer {
        position: relative;
        padding: 20px;
    }

    .hellowrap {
        margin-bottom: 5vh;
    }

    #typer {
        font-size: 30px;
        line-height:normal;
        width: 90%;
    }

    .img2 {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }


    .hello:hover {
        font-size: 30vw;
        transition: font-size 0.5s ease;
    }

    .hello {
        font-size: 25vw;
    }

    body {
        position: relative;
        min-width: 100vw;
    }


    footer a {
        width: 20vw;
        padding-bottom: 0;
    }

    footer a p {
        font-size: 10px;
    }

    .proj1 p {
        width: 80%;
    }

    .proj1 a img {
        width: 90%;
    }
}
