@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=DM+Serif+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan+SC&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Aref Ruqaa Ink", serif;
}

body p {
    font-size: 1vw;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aboutwrapper section {
    box-shadow: 0px 0px 35px #73768f;

}

.title {
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 16vh;
    margin-bottom: 58vh;
    font-size: 50px;
}

.hobbieswrapper {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.hobbieswrapper h2 {
    padding-top: 5vh;
}

.expl {
    width: 60%;
}

.hobbieswrapper h3 {
    font-size: 25px;
}

.hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2d3258;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 70%;
    border-radius: 60px;
    box-shadow: 0px 0px 35px #73768f;
}

.hobbies img {
    width: 30vw;
    margin-bottom: 5vh;
}

video {
    margin: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 35px #73768f;

}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.showc p {
    margin-bottom: 4vh;
}

.showc img {
    width: 30vw;
}

.introduction {
    box-shadow: none;

    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12vh;
    border-radius: 100px;
}

img {
    border-radius: 30px;
}



.introduction img {
    position: absolute;
    width: 70vw;
    opacity: 0.7;
    height: auto;
    transition: opacity 0.5s ease;
    z-index: 0;
    border-radius: 50px;
}

.introduction img:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.opacitylow {
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.opacitynorm {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.introcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2d3258;
    width: 70%;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 0px 35px #73768f;


}

.introduction h2,
h1 {
    margin: 0;
}

.introduction h1 {
    font-size: 100px;
}

.introduction h2,
p {
    width: 80%;
}

.thanks {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 40%;
    height: 53vh;

    flex-direction: column;
    background-color: #2d3258;
    border-radius: 30px;
    margin: 2%;
}

.navwrap {
    display: flex;
    flex-direction: column;
    box-shadow: none;
}

.thanks img {
    width: 10vw;
    height: auto;
}

.thanks p {
    width: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3258;
    padding: 20px;
    width: 100%;
}

footer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #B9BBC7;
    height: 3vh;
    padding-bottom: 25px;
    border: 1px solid #B9BBC7;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 2vw;
    margin-left: 2vw;
    width: 20vw;
}

footer p {
    width: 100%;
    font-size: 20px;
}

footer a:hover {
    background-color: #45496a;
    border-color: #45496a;
}

#arrow {
    display: flex;
    margin-top: 10vh;
    width: 30%;
    animation: downup 4s ease-in-out infinite;
}

@keyframes downup {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(100px);
    }
}

.showc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 53vh;

    margin: 2%;
    border-radius: 30px;
    background-color: #2d3258;
}

.hobbies .slide2 {
    transform: translateX(64%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.hobbies .slide2:nth-of-type(even) {
    transform: translateX(-64%);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.hobbies .show2 {
    transform: translateX(0);
    transition: transform 1s ease, opacity 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;

}

@media only screen and (max-width:800px) {
    h2 {}

    .introcontainer {
        width: 90%;
        height: 80%;
    }
    .introcontainer p {
        font-size: 15px;
    }
    .introduction img {
        width: 100%;
    }

    .introduction  {
        height: 40vh;
    }

    .showc, .thanks {
        width: 60%;
        height: 45vh;
        margin-bottom: 7vh;
    }
    .bottom {
        display: flex;
        flex-direction: column;
    }
    .bottom p {
        font-size: 17px;
    }

    .showc img {
        width: 80%;
    }

    .thanks img {
        width: 30%;
    }

    footer a {
        width: 20vw;
    }

    footer a p {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .hobbieswrapper h3 {
        font-size: 20px;
    }

    .hobbies img {
        width: 50vw;
    }

    .hobbies .slide2 {
        transform: translateX(20%);
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;
    }
    
    .hobbies .slide2:nth-of-type(even) {
        transform: translateX(-20%);
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;
    }
    .hobbieswrapper h3 {
        font-size: 16px;
        width: 80%;
    }

    body p {
        font-size: 3vw;
    }

    .expl {
        width: 80%;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    h1 {

    }

}